
@import "../../layouts/colors" ;

#blob{
    position: fixed ;
    z-index: 2 ;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width : 15vmax ;
    aspect-ratio : 1 ;
    border-radius: 50%;
    scale : 1 1.5;   
    background : conic-gradient(map-get($map:$purple-haze, $key:primary), map-get($map: $green-nebula, $key:secondary)); 
    animation: turn 40s linear infinite alternate-reverse;
}

#glass {
    position: absolute;
    z-index: 3;
    inset: 0;
    backdrop-filter: blur(50px);
}
@keyframes turn{
    from {scale: 1 1.5 ;}
    to {scale: 1.5 1 ;}
}
