---
// custom 404 page

import Layout from "../layouts/Layout.astro";
---

<style>
    h1{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        font-family: "General Sans", sans-serif;
        font-size: 2em;
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #5D3FD3;
        transition: all 200ms;
    }
    a:hover{
        color: aqua;
    }

</style>

<Layout title="Unrationnal" lang="en">
    <h1>You seem lost <a href="/">Click here to head back</a></h1>
    


</Layout>