
@import "../../layouts/colors";
@import "../../layouts/font";
@import "../../layouts/buttons";

#formulaire {
   text-align: center;
    color: white;
    font-size: 18px;
    position: fixed;
    inset: 0; // permet de couvrir toute la page 
    background-color: transparent;
    z-index: 10; // met en avant un élément en fonction de n si n > n+1
    display: grid;
    grid-template-columns: 50% 50%;

    .animation{
        // background-color: rgba(51, 1, 95, 0.682);
        background-image: linear-gradient(to left, rgba(58, 1, 75, 0.722) 50%, transparent);
    }

    section{
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        align-items: center;

        h1{
            font-size: 2em;
            font-family: $font-family-1;
            color: conic-gradient(map-get($map:$purple-haze, $key:primary), map-get($map: $green-nebula, $key:secondary));;
        }

        p {
            font-family: $font-family-1;
            font-size: 1.5em;
            width: 80%;
            margin-inline: auto;
        }

        input{
            color: white;  
            background-color: transparent;
            font-family: $font-family-4;
            font-size: 1.3rem;
            text-align: center;
            @include classic-button() ;
            padding-inline: 2em;
            min-width: 250px;
            border : 2px solid rgba(230, 230, 250, 0.192);
            transition: border-color 200ms linear;

            &:focus{
                border-color: $bright-blue;
            }

        }
        
        button {
            font-family: $font-family-4;
            font-size: 1.3rem;
            font-weight: 800;
            background-color: transparent ;
            color: #fff;
            @include classic-button();
            @include button-spin-style();
            
            &:hover{
                background-color: $iris;
            }
        }

        .input-box {
            display: flex;
            align-items: center;
            padding: 0.8em 2.5em;
            border-radius: 0.4em;
            gap: 1em;
            // background-color: $black;

        }
    
    }
}

