
@import "../../layouts/colors";
@import "../../layouts/font";
@import "../../layouts/buttons";

#formulaire {
   text-align: center;
    color: white;
    font-size: 18px;
    position: fixed;
    inset: 0; // permet de couvrir toute la page 
    background-color: transparent;
    z-index: 10; // met en avant un élément en fonction de n si n > n+1
    display: grid;
    grid-template-columns: 50% 50%;

    .animation{
        background-color: rgba(127, 255, 212, 0.6);
    }

    section{
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        align-items: center;

        h1{
            font-size: 2em;
            font-family: $font-family-1;
            color: conic-gradient(map-get($map:$purple-haze, $key:primary), map-get($map: $green-nebula, $key:secondary));;
        }

        p {
            font-family: $font-family-3;
        }

        input{
            color: white;  
            background-color: transparent;
            font-family: $font-family-4;
            text-align: center;
            @include classic-button() ;
            padding: 0.7em 1em;
            min-width: 250px;
            border : 1px solid black;
        }
        
        button {
            font-family: $font-family-4;
            background-color: transparent ;
            color: #000;
            @include classic-button();
            padding: 0.7em 1em;
            border: 1px solid purple;
        }

        div {
            background-color: lime;
            display: flex;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 0.2em;
            gap: 1em;
        }
    
    }
}

