
@import "../../layouts/colors";
@import "../../layouts/font";
@import "../../layouts/buttons";

#formulaire {
   text-align: center;
    color: white;
    font-size: 18px;
    position: fixed;
    inset: 0; // permet de couvrir toute la page 
    background-color: transparent;
    z-index: 10; // met en avant un élément en fonction de n si n > n+1
    display: grid;
    grid-template-columns: 50% 50%;

    .animation{
        background-color: transparent;
        overflow: hidden;
        
        h1{
            font-family: $font-family-5;
            font-size: 10rem;
            margin: -5.5vh;
            padding: 0;
            color: #17171d;
            text-wrap: nowrap;
            height: 20vh;
            line-height: 20vh;
        }
    }

    section{
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        align-items: center;

        h1{
            font-size: 2em;
            font-family: $font-family-1;
            color: conic-gradient(map-get($map:$purple-haze, $key:primary), map-get($map: $green-nebula, $key:secondary));;
        }

        p {
            background-image: linear-gradient(to right, $neon-orange, $neon-purple);
            background-clip: text;
            color: #fff;
            font-family: $font-family-5;
            font-weight: 600;
            font-size: 1.8em;
            width: 80%;
            margin-inline: auto;

            span {
                color: transparent;
            }
        }

        input{
            color: white;  
            background-color: transparent;
            font-family: $font-family-4;
            font-size: 1.3rem;
            text-align: center;
            @include classic-button() ;
            padding: 0.5em 0.8em;
            border-radius: 0.3em;
            padding-inline: 2em;
            min-width: 250px;
            border : 2px solid rgba(230, 230, 250, 0.192);
            transition: border-color 200ms linear;

            &:focus{
                border-color: $bright-blue;
            }

        }
        
        button {
            font-family: $font-family-5;
            font-size: 1.3rem;
            font-weight: 800;
            padding: 0.5em 1.2em;
            border-radius: 0.3em;
            background-color: transparent ;
            color: #fff;
            @include classic-button();
            @include button-spin-style();
            
            &:hover{
                background-color: $neon-orange;
            }
        }

        .input-box {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0.8em 2.5em;
            border-radius: 0.4em;
            gap: 1em;

            #log-message {
                position: absolute;
                bottom: -50%;
                left: 37%;
                width: 50%;
                translate: -50% 0%;
                @include classic-button();

                p {
                    font-family: $font-family-5;
                    font-size: 1em;
                    font-weight: 500;
                    color: $bright-green;
                }
            }

        }
    
    }
}


@media screen and (max-width: 767px) { 
    #formulaire {
        display: grid;
        grid-template-columns: 100%;
        .animation{
            border: solid red;
            display: none;
        }

        section {
            
            p {
                font-weight: 500;
                line-height: 1.3em;
                font-size: 1.4em;
                margin-inline: center;
                width: 90%;
            }

            input {
                padding-inline: 0;
            }
           

            .input-box{
                gap: 0.2em;
            }
        }
    }

}

