@import "../../../layouts/colors";
@import "../../../layouts/buttons";
@import "../../../layouts//font";


:root{
    --slow-fast : cubic-bezier(0,.93,.41,.86);
}

@mixin getBlob(){
    $x: calc(random() * 100%);
    $y: calc(random() * 100%);
    $color-theme : #4b0175, #003052, #620124;
    $color: nth($color-theme, floor(random() * length($color-theme)) + 1) ;

    background-image : radial-gradient(circle at $x $y, $color 0%, #090909b0 40%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#catalogue {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vmax;
    padding-block: 5vmax;
    margin-inline: auto;

    background: transparent;
    // background-color: $black;
    // background-image: linear-gradient(to bottom,  transparent 25%, $black 25%);
    // border-radius: 20px;

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 5rem;
        color: #fff;
        margin-left: 1rem;
    }
}

#grid-card {

    width: 98% ;
    margin-inline: auto;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.3em;
    

    .grain-bg {
        position: relative;
        outline : 2px solid rgba(230, 230, 250, 0.4) ;
        border-radius: 0.15em;
        width: 100%;
        height: 100%;
        background-color: #090909;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
        transition: filter var(--slow-fast) ;
        transform: translateY(100px);
        will-change: transform;

        .card-details {
            position: absolute;
            inset: 0;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            border-color: rgba(230, 230, 250, 0.4);
        


            h2 {
                margin-left: none;
                font-size: 1em;
                font-family: "Poppins", sans-serif;
                color: #fff;
                width: 90%;
                margin-inline: auto;
            }
            
            h3 {
                opacity: 0;
                width: 90%;
                margin-inline: auto;
                font-size: 0.8em;
                font-weight: 100;
                font-family: "Inter", sans-serif;
                color: #fff;
                animation: intro-text-right 500ms var(--slow-fast) 200ms both;
            }

            button {
                position: relative;
                background-color: #090909;
                margin-top: 1em;
                margin-left: 3em;
                font-size: 0.6em;
                font-family: 'Inter', sans-serif;
                transition: background-position 2000ms;
                @include classic-button();
                padding: 0.5em 0.9em;
                border-radius: 0.4em;
                max-width: 160px;
                
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3em;
                p {
                    font-family: 'Inter', sans-serif;
                }
                p, i{
                    margin: 0;
                    padding: 0;
                    color: #fff;
                    transition: all 200ms;
                }
                
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: inherit;
                    inset: -1px;
                    z-index: -1;
                    background: linear-gradient(to right, $bright-blue, $bright-purple);
                }
                &:hover {
                    i {
                        margin-left: 0.2em;
                    }

                }
            }
        }
        
        &::before
        {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            
            z-index: 2;
            background-image: url("../../../../assets/granular_bg.webp") ;
            background-repeat: repeat;
            background-size: 100px;
            opacity: 1;
            transition: opacity 200ms linear;
        }
        
        &:hover {
            &::before{
                opacity: 0;
            }
        }


        &:nth-child(1){
            @include getBlob();
            grid-column: 1 / span 9;
            grid-row: 1 / span 3;
        }
        &:nth-child(2){
            @include getBlob();
            grid-column: 10 / span 3;
            grid-row: 1 / span 3;
        }
        &:nth-child(3){
            @include getBlob();
            grid-column: 4 / span 9;
            grid-row: 4 / span 4;
        }
        &:nth-child(4){
            @include getBlob();
            grid-column: 1 / span 3;
            grid-row: 4 / span 2;
        }
        &:nth-child(5){
            @include getBlob();
            grid-column: 1 / span 3;
            grid-row: 6 / span 3;
        }
        &:nth-child(6){
            @include getBlob();
            grid-column: 4 / span 4;
            grid-row: 8 / span 4;
        }
        &:nth-child(7){
            @include getBlob();
            grid-column: 8 / span 5;
            grid-row: 8 / span 4;
        }
        &:nth-child(8){
            @include getBlob();
            grid-column: 1 / span 3;
            grid-row: 9 / span 3;
        }
    }
}

@keyframes intro-text {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes intro-text-right {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

#intro-message {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10vmax;
    will-change: transform;

    h2 {
        font-family: $font-family-5;
        font-size: 1em;
        color : #fff;
        width: 80%;
        overflow: hidden;
        background-image: linear-gradient(to right, $bright-green, $bright-blue);
        background-clip: text;
    }

    span{
        color: transparent;
    }
}


// media querrys

@media screen and (max-width: 767px) {

    #catalogue {
    h2 {
        font-size: 1.5em;
    }
    
    .card-details{
        button {
            width: 90px;
            padding-inline: 0;
        }
    }

    #grid-card {
        .grain-bg {

            &:nth-child(1){
                grid-column: 1 / span 7;
                grid-row: 1 / span 3;
            }
            &:nth-child(2){
                grid-column: 8 / span 5;
                grid-row: 1 / span 3;
            }
            &:nth-child(3){
                grid-column: 6 / span 7;
                grid-row: 4 / span 3;
            }
            &:nth-child(4){
                grid-column: 1 / span 5;
                grid-row: 6 / span 2;
            }
            &:nth-child(5){
                grid-column: 1 / span 5;
                grid-row: 4 / span 2;
            }
            &:nth-child(6){
                grid-column: 1 / span 5;
                grid-row: 8 / span 4;
            }
            &:nth-child(7){
                grid-column: 6 / span 7;
                grid-row: 7 / span 3;
            }
            &:nth-child(8){
                grid-column: 6 / span 7;
                grid-row: 10 / span 2;
            }
            
        }

    }    

    }

  }