---
// wrapper around all the project cards

import type { FC } from "react"

import { ProjectCard } from "./project_card"
import { ScrollLine } from "./scrollLine"

import "./project_card.scss"
---

<section id="project-wrapper">
    <ScrollLine client:only />

    <ProjectCard client:visible />
    <ProjectCard client:visible />
    <ProjectCard client:visible />
</section>
