
@import "./colors";

@property --button-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


@mixin button-spin-style ($colors: ($accent-purple, $iris, $green, $bright-blue)){
    position: relative;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    transition: all 200ms;
    border: none;
    

    &::before,
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: black;
        z-index: -1;
        border-radius: inherit;
    }
    

    &::before {
        position: absolute;
        z-index: -1;
        inset: -1px;
        padding: inherit;
        border-radius: inherit;
        background: conic-gradient(
            from var(--button-angle),
            $colors
        );
        animation: spin 5s linear infinite;
    }

}

@keyframes spin {
    from {--button-angle: 0deg;}
    to {--button-angle: 360deg;}
}



@mixin classic-button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 500ms linear, background-color 500ms linear;
}


@mixin color-swap-button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        animation: color-swap 8s linear 0s both;
    }
}



@keyframes color-swap {
    0%, 100% {
        background-color: map-get($map: $blue-planet, $key: secondary);
        box-shadow: 0 0 40px -8px map-get($map: $blue-planet, $key: accent);
    }
    25% {
        background-color: map-get($map: $purple-haze, $key: accent);
        box-shadow: 0 0 40px -8px map-get($map: $purple-haze, $key: accent);

    }
    50% {
      background-color: map-get($map: $green-nebula, $key: accent);
      box-shadow: 0 0 40px -8px map-get($map: $green-nebula, $key: accent);
    }
    75% {
      background-color: map-get($map: $blue-planet, $key: background);
      box-shadow: 0 0 40px -8px map-get($map: $blue-planet, $key: accent);
    }
  }
