$accent-purple : purple ;
$bright-purple : #BF40BF;
$iris : #5D3FD3;
$green : #097969;
$bright-green : #AAFF00;
$bright-blue : #00FFFF;
$white : #fff;
$gray : #c5c5c5;
$black : #101010;

$neon-purple : purple ;
$neon-orange : #ff6740;
$neon-red : red;

$purple-haze: (
  primary: #210535,
  secondary: #430d4b,
  accent: #7b337d,
  background: #c874b2,
  text: #f5d5e0,
);

$green-nebula: (
  primary: #013026,
  secondary: #014760,
  accent: #107e57,
  background: #a1ce3f,
  text: #cbe58e,
);

$blue-planet: (
  primary: #062c43,
  secondary: #054569,
  accent: #5591a9,
  background: #9ccddc,
  text: #ced7e0,
);