
$font-family-1 : 'Poppins', sans-serif;
$font-family-2 : 'Inter', sans-serif;
$font-family-3 : 'Open Sans', sans-serif;
$font-family-4 : 'Roboto', sans-serif;
$font-family-5 : "General Sans", sans-serif;