


<style>
    #app {
        position: absolute;
		z-index: 4;
		top : 0;
		left : 0;
		width: 100vw;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
    }
</style>


<main id="app">
    <slot />
</main>